
<h1 class='wi'><%= params[:to] %> (App URL)</h1>

<a href="<%= u(%|/new?to=#{params[:to]}|) %>"> + add Another translation </a>

<table class='queues'>
  <tr>
    <th>Translations (Browser Location Bar) </th>
    <th>Action</th>
  </tr>

  <% for translation in Rewritten.list_range("to:#{params[:to]}", 0, 100) %>
    <tr>
      <td class=''><a href="<%= translation %>" target="new"><%= translation %></td>
      <td class=''><a href="<%= u("/delete?from=#{translation}&to=#{params[:to]}") %>">Delete</a></td>
    </tr>
  <% end %>

</table>



