
<h1 class='wi'><%= params[:to] %> (App URL)</h1>


<p>
<a href="<%= u(%|/edit?to=#{escape(params[:to])}|) %>">% rename</a>
</p>

<p>
<a href="<%= u(%|/delete_all?to=#{escape(params[:to])}|) %>">!! delete all</a>
</p>


<table class='queues'>
  <tr>
    <th>Translations (Browser Location Bar) </th>
    <th>Action</th>
  </tr>

  <% for translation in Rewritten.z_range("to:#{params[:to]}", 0, 100) %>
    <tr>
      <td class=''><a href="<%= translation %>" target="new"><%= translation %></td>
        <td class=''>
          <a href="<%= u(%|/edit?to=#{escape(params[:to])}|) %>"> add </a>| 
          <a href="<%= u(%|/edit?to=#{escape(params[:to])}|) %>"> edit </a>|
          <a href="<%= u(%|/edit?to=#{escape(params[:to])}|) %>"> remove </a>
        </td>
    </tr>
  <% end %>

</table>



